
<form (submit)="agregarPais()">
    <input type="text" [(ngModel)]="nuevoPais.nombre" placeholder="Nombre del país">
    <button type="submit">Agregar</button>
  </form>
  
  <!-- Formulario para borrar país -->
  <form (submit)="borrarPais(idPaisBorrar)">
    <input type="number" [(ngModel)]="idPaisBorrar" placeholder="ID del país a borrar">
    <button type="submit">Borrar</button>
  </form>
  
  <!-- Formulario para modificar país -->
  <form (submit)="modificarPais()">
    <input type="number" [(ngModel)]="idPaisModificar" placeholder="ID del país a modificar">
    <input type="text" [(ngModel)]="nombrePaisModificado" placeholder="Nuevo nombre del país">
    <button type="submit">Modificar</button>
  </form>
  